@tailwind base;
@tailwind components;
@tailwind utilities;

.d3-tooltip-name {
    background-color: #000000;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 500;
}

.d3-tooltip-label {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 7px 10px;
    font-weight: 700;
    background-color: #252b2fbf;
}

.d3-tooltip-label > span {
    font-weight: 400;
    margin-right: 10px;
}

.d3-tooltip-color {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

svg {
    max-width: 100%;
}
